certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
dill==0.3.8
idna==3.7
lxml==5.2.2
multiprocess==0.70.16
pathos==0.3.2
pox==0.3.4
ppft==1.7.6.8
pycparser==2.22
PyExecJS==1.5.1
pytube==15.0.0
requests==2.32.3
six==1.16.0
tqdm==4.66.4
translators==5.7.0
urllib3==2.2.2
